
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cutive Mono', monospace;
    font-size: 10pt;
    font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 2;
}

nav {
    height: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #ffa411;
    line-height: 40px;
}

a {
    text-decoration: none;
    color:black;
}

li {
    padding: 0 40px;
}

li:hover {
    animation: colors 3s;
}

@keyframes colors {
    50% {
        background-color: #e67a9e;
    }
    100% {
        background-color: #e67a9e;
    }
}


.theme {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin: 50px;
    padding-top: 200px;
    padding-bottom: 1000px;
    font-size: 12px;
  }
  
  h1 {
    padding-top: 50px;
  }
  
  .guide {
    color: #e67a9e;
    font-size: 10px;
  }

  p {
    margin: 0.5em 0;
  }
  
  #switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #switcher li {
    height: 50px;
    width: 20px;
    margin: 0 15px 15px 0;
  }
  
  #switcher ul {
    text-align: center;
    line-height: 50px; 
    float: left;
    height: 50px;
    width: 80px;
    margin: 0 15px 15px 0;
  }

  
  #Button1 {
    background-color:#a3f2cc;
  }
  
  #Button2 {
    background: #f4d35b;
  }
  
  #Button3 {
    background: #ddb9fe;
  }
  
  #Button4 {
    background: #b9f133;
  }
  
  
  .theme1 {
    background-color: #a3f2cc;
  }
  
  .theme2 {
    background-color:#f4d35b;
  }
  
  .theme3 {
    background-color: #ddb9fe;
  }
  
  .theme4 {
    background-color: #b9f133;
  }