@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    top:0px;
    width:100%;
    background-color: white;
}

main{
    margin: 120px 0;
  }

header, footer {
    /* line-height: 60px; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  font-size: 21px;
  line-height: 1.4em;
}

p {
  line-height: 2;
}

.direction {
    display: flex; 
    flex: 1;  
}

.direction2 {
    display: flex; 
    flex: 1; 
}

.column {
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bottom {
    align-items: flex-end;
}


.blank {
    display: flex; 
    width:25%;
}

.div1 {
    flex-grow: 0.5;
  }

/* .section {
} */

.border {
    margin: 10px;
    border: 1px solid rgb(198, 198, 198);
    padding:10px;
}

/* .each {
} */

.image {
    padding: 30px;
}

.red{
    background-color:#e52a33;
    color: white;    
}

.middle{
    text-align: center;
}

.flex-middle{
    justify-content:space-between;
}

.underline{
    border-bottom: 1px solid black;
}

/* small tablet and mobile*/
@media (max-width: 960px) {
  
  .direction {    
    display: flex;
    flex-direction: column; 
    flex: 1;  
}
.direction2 {
    display: flex; 
    flex-direction: column; 
    flex: 1; 
}
}
