@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  font-size: 21px;
  line-height: 1.4em;
}

p {
  line-height: 2;
}

.row {
    display: flex;  
    flex: 1;
}

.column {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.blank {
    width:20%;
}

/* .section {
} */ */

.border {
    padding: 10px;
    border: 1px solid grey
}

/* .each {
} */

.image {
    height: 100%;
}



/* small tablet and mobile*/
@media (max-width: 960px) {
  
  .row {
    display: flex;
    flex-direction: column;
  }

}