@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  font-size: 3em;
  line-height: 1.4em;
}

p {
  line-height: 2;
}

.row {
  display: flex;
  line-height: 1.68;
}

.column {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* tablet */
@media (max-width: 960px) {
  
  main {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  section {
    width: 100%;
    flex-direction: row;
    display:flex;
  }


}
/* mobile */
@media (max-width: 450px) {

  main {
    display: flex;
    
  }

  .row {
    flex-direction: column;
  }

  section {
    width: 100%;
    flex-direction: column;
    display:flex;
  }

  .column {
    width: 100%;
  }

}